#comments {
    margin-left: 0px ;
    padding-left: 0px;
}
#comments li {
    list-style: none;
    animation: comment 0.5s ease-in-out;
}
@keyframes comment {
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

